> {{link-to model.definition 'discoverable-taxonomy-set'}}
<hr>
<p>Tag: {{currentCell.cell.tag}}</p>
<p>Period: {{currentCell.cell.period}}</p>
<p>Dimensions: {{if currentCell.cell.dimensions.length "view" "default"}}</p>
{{!--if custom show custom with view button--}}
<hr>
{{outlet}}