{{#link-to 'discoverable-taxonomy-set' class="list-group-item"}}Role: {{model.definition}}{{/link-to}}
{{!-- <hr> --}}
{{!-- {{#if currentCell.cell.id}} --}}
  <p class="list-group-item">Value: {{currentCell.cell.value}}</p>
  <p class="list-group-item">Period: {{currentCell.cell.period}}</p>
  <p class="list-group-item">Tag: {{currentCell.cell.settings.name}}</p>
  <p class="list-group-item">Dimensions: {{if currentCell.cell.dimensions.length currentCell.cell.dimensions.length "using default"}}</p>
  {{!-- <p><a href="#" class="btn btn-primary btn-block" {{action "updateCurrentCell"}}>Save</a></p> --}}
{{!-- {{/if}} --}}
{{outlet}}