<div class="list-group">
  <a href="#" {{action "changeDts"}} class="list-group-item">DTS: {{dts.name}}</a> 
  {{#link-to 'discoverable-taxonomy-set.role-types' currentCell.taxonomyId class="list-group-item"}}Role: {{currentCell.roleType.definition}}{{/link-to}}
  {{#link-to 'value' class="list-group-item"}}<span class="truncate">Value: {{currentCell.cell.value}}</span>{{/link-to}}
  {{#link-to 'periods' class="list-group-item"}}Period: {{currentCell.cell.period}}{{/link-to}}
  <a href="#" {{action "linkToTag"}} class="list-group-item">
    <span class="truncate">Tag: {{if currentCell.cell.settings.append "Appended" currentCell.cell.settings.name}}</span>
  </a>
  {{#link-to 'dimensions' class="list-group-item"}}Dimensions: {{if currentCell.cell.dimensions.length currentCell.cell.dimensions.length "using default"}}{{/link-to}}
</div>
<br>
<div class="card"> 
  {{#if search}}
    <div class="card-header">
      {{search-bar searchScope=searchScope data-test-search-bar=true navigateToResult=(action "navigateToResult")}}
    </div>
  {{/if}}
  <main class="card-block">
    {{outlet}}
  </main>
</div>