<div class="list-group">
  <a href="#" {{action "changeDts"}} class="list-group-item">DTS: {{dts.name}}</a> 
  {{#link-to 'discoverable-taxonomy-set.role-types' currentCell.taxonomyId class="list-group-item"}}Role: {{currentCell.roleType.definition}}{{/link-to}}
  <p class="list-group-item">Value: {{currentCell.cell.value}}</p>
  {{#link-to 'periods' class="list-group-item"}}Period: {{currentCell.cell.period}}{{/link-to}}
  {{#link-to 'discoverable-taxonomy-set.role-type.presentation-nodes' currentCell.taxonomyId currentCell.roleType.id class="list-group-item"}}
    Tag: {{if currentCell.cell.settings.append "Appended" currentCell.cell.settings.name}}
  {{/link-to}}
  {{#link-to 'dimensions' class="list-group-item"}}Dimensions: {{if currentCell.cell.dimensions.length currentCell.cell.dimensions.length "using default"}}{{/link-to}}
</div>
<br>
<div class="card"> 
  {{#if search}}
  <div class="card-header">
    {{search-bar searchScope=searchScope data-test-search-bar=true navigateToResult=(action "navigateToResult")}}
  </div>
  {{/if}}
  <main class="card-block" style="overflow:auto;">
    {{outlet}}
  </main>
</div>