<div class="list-group mb-2">
  <a href="#" {{action "changeDts"}} class="list-group-item" data-test-current-dts>DTS: {{dts.name}}</a> 
  {{#link-to 'discoverable-taxonomy-set.role-types' currentCell.taxonomyId class="list-group-item" data-test-current-role="true"}}Role: {{currentCell.roleType.definition}}{{/link-to}}
  {{#link-to 'value' class="list-group-item" data-test-cell-value="true"}}<span class="text-truncate">Value: {{currentCell.cell.value}}</span>{{/link-to}}
  {{#link-to 'periods' class="list-group-item" data-test-cell-period="true"}}Period: {{currentCell.cell.period}}{{/link-to}}
  <a href="#" {{action "linkToTag"}} class="list-group-item" data-test-cell-tag>
    <span class="text-truncate">Tag: {{if currentCell.cell.settings.append "Appended" currentCell.cell.settings.name}} {{if hasTuple "(tuple)"}}</span>
  </a>
  {{#link-to 'dimensions' class="list-group-item" data-test-cell-dimensions="true"}}Dimensions: {{if currentCell.cell.dimensions.length currentCell.cell.dimensions.length "using default"}}{{/link-to}}
</div>
<div class="card"> 
  <main class="card-body">
    {{outlet}}
  </main>
</div>