<li class="list-group-item">{{link-to 'Dimensions' 'discoverable-taxonomy-set.role-type.presentation-node.element.dimension-nodes'}}</li>
<li class="list-group-item">data type: {{model.itemType}}</li>
<li class="list-group-item">period type: {{model.periodType}}</li>
{{#if (eq model.abstract "true")}}
  <li class="list-group-item">This tag is for presentation only.</li>
{{else}}
  <button {{action "updateTag"}} class="btn btn-primary btn-block">Tag current cell.</button>
{{/if}}