<ul class="list-group">
  <li class="list-group-item">{{link-to 'Dimensions' 'discoverable-taxonomy-set.role-type.presentation-node.element.dimension-nodes'}}</li>
  <li class="list-group-item">data type: {{model.itemType}}</li>
  <li class="list-group-item">period type: {{model.periodType}}</li>
  {{#if (eq model.abstract "true")}}
    <li class="list-group-item">This tag is for presentation only.</li>
  {{/if}}
</ul>
{{#unless (eq model.abstract "true")}}
  <br>
  <form>
    <div class="form-group">
      <select class="form-control" onchange={{action (mut currentCell.cell.period) value="target.value"}}>
        <option value="none">no period</option>
        {{#each currentCell.periods as |period|}}
          <option value={{period}} selected={{eq currentCell.cell.period period}}>{{period}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <select class="form-control">
        <option value="none">default dimensions</option>
        {{#each dimensions as |dimension|}}
          <option value={{dimension.id}}>{{dimension.domainMember}}</option>
        {{/each}}
      </select>
    </div>
    <button {{action "updateTag"}} class="btn btn-primary btn-block">Tag current cell.</button>
  </form>
{{/unless}}