<ul class="list-group">
  {{#each currentCell.cell.dimensions as |dimension|}} 
    <li class="list-group-item">
      <div class="row">
        <div class="col-10">
          <div class="row">
            <div class="col">
               {{dimension.hypercubeDimension}}
            </div>
            <div class="col">
              {{dimension.domainMember}}
            </div>
          </div>
        </div>
        <div class="col text-right"><a href="#" {{action "delete" dimension}}><i class="fa fa-trash fa-2x"></i></a></div>
      </div>
    </li>
  {{/each}}
</ul>

{{#if (and currentCell.cell.settings.name currentCell.cell.period)}}
  <p>{{link-to "Add custom dimensions" 'dimension-nodes'}}</p>
{{else}}
  <p>Not tagged.</p>
{{/if}}