{{model.element.name}} ({{model.shortArcrole}})

{{#if model.parent}}
  {{#link-to 'discoverable-taxonomy-set.role-type.presentation-node.element.dimension-node' model.parent data-test-dimension-parent=true}}
    <i class="fa fa-arrow-up"></i>
  {{/link-to}}
{{else}} 
  {{#link-to 'discoverable-taxonomy-set.role-type.presentation-node'}}<i class="fa fa-arrow-up"></i>{{/link-to}}
{{/if}}
<hr>
<nav data-test-dimension-nodes>
  {{#each model.children as |child|}}
     {{#if (eq model.shortArcrole "dimension-domain")}} 
        <a class="btn btn-default btn-block" href="#" {{action "addDimension" child}}>Pick {{child.name}}</a>
     {{else}}
        {{link-to (concat child.name child.dimensionType) 'discoverable-taxonomy-set.role-type.presentation-node.element.dimension-node' child}} <br> 
      {{/if}}
  {{/each}}
</nav>