<ul class="list-group">
  <div class="list-group-item">
    <h6>{{#link-to 'discoverable-taxonomy-set.role-type.presentation-node' data-test-element-properties=true}}
      <i class="fa fa-chevron-left fa-fw"></i> {{model.label}} {{/link-to}}
    </h6>
  </div>
  <li class="list-group-item">data type: {{model.itemType}}</li>
  <li class="list-group-item">period type: {{model.periodType}}</li>
  {{#if (eq model.abstract "true")}}
  <li class="list-group-item">This tag is for presentation only.</li>
  {{/if}}
</ul>
{{#unless (eq model.abstract "true")}}
<form class="form p-3">
  <div class="form-group">
    <select class="form-control" onchange={{action (mut currentCell.cell.period) value="target.value" }}>
      {{#each currentCell.periods as |period|}}
        <option value={{period}} selected={{eq currentCell.cell.period period}}>{{period}}</option>
      {{/each}}
    </select>
  </div>
  {{dimension-select}}
  <button {{action "updateTag"}} class="btn btn-primary btn-block">Tag current cell.</button>
</form>
{{/unless}}