<form>
  <div class="form-group">
    <select class="form-control" onchange={{action (mut currentCell.cell.period) value="target.value"}}>
    <option value="none">none</option>
    {{#each currentCell.periods as |period|}}
      <option value={{period}} selected={{eq currentCell.cell.period period}}>{{period}}</option>
    {{/each}}
  </select>
  </div>
  <button class="btn btn-outline-primary btn-block" {{action "updateCell"}}>Save</button>
</form>