<div class="list-group" data-test-presentation-node-nav>
  <div class="list-group-item d-inline-flex justify-content-between">
    <div class="p-2"><h5>{{model.name}}</h5></div>
    <div class="p-2">{{#link-to 'discoverable-taxonomy-set.role-type.presentation-node.element' model.element.id data-test-element-properties=true class="btn btn-outline-primary btn-sm"}}<i class="fa fa-info fa-fw fa-lg"></i>{{/link-to}}</div>
    <div class="p-2"><a href="#" {{action 'pinNode'}} class="btn btn-outline-primary btn-sm"><i class="fa fa-fw fa-thumb-tack fa-lg"></i></a></div>
  </div>
  <div class="list-group-item">
    {{search-bar model=nodes data-test-search-bar=true viewNode=(action 'viewNode')}}
  </div>
  {{#if model.parent}} 
    {{#link-to 'discoverable-taxonomy-set.role-type.presentation-node' model.parent class="list-group-item d-flex align-items-center"}}
      <i class="fa fa-chevron-left fa-fw"></i> <span class="d-inline-block text-truncate" data-toggle="tooltip" data-placement="bottom" title={{model.parent.name}}>{{model.parent.name}}</span>
    {{/link-to}}
  {{else}}
    {{#link-to 'discoverable-taxonomy-set.role-type.presentation-nodes' class="list-group-item d-flex align-items-center"}}
      <i class="fa fa-home fa-fw"></i> <span class="d-inline-block text-truncate">{{model.roleType.name}}</span>
    {{/link-to}}
  {{/if}}
  {{#each model.children as |child|}} 
    {{#link-to 'discoverable-taxonomy-set.role-type.presentation-node' child.id class="list-group-item d-flex justify-content-between align-items-center"}}
      <span class="d-inline-block text-truncate" data-toggle="tooltip" data-placement="bottom" title={{child.name}}>{{child.name}}</span>
      {{#if (and (eq child.children.length 0) (not child.alias))}}<i class="fa fa-file"></i>{{else}}<i class="fa fa-chevron-right"></i>{{/if}}
    {{/link-to}}
  {{else}}
    {{#each model.alias.children as |child|}} 
      {{#unless (eq child model)}}
         {{#link-to 'discoverable-taxonomy-set.role-type.presentation-node' child.id class="list-group-item d-flex justify-content-between
        align-items-center"}}
          <span class="d-inline-block text-truncate" data-toggle="tooltip" data-placement="bottom" title={{child.name}}>*{{child.name}}</span>
          <i class="fa fa-chevron-right"></i> 
        {{/link-to}}
      {{/unless}}
    {{/each}}
  {{/each}}
</div>