{{#if currentCell.cell}}
  <ul class="list-group" data-test-presentation-root-nodes>
    {{#each model as |node|}}
      <li class="list-group-item">{{link-to (if node.name node.name "no name") 'discoverable-taxonomy-set.role-type.presentation-node' node.id}}</li>
    {{/each}}
  </ul>
  {{#if currentCell.cell.settings.append}}
    <form class="pt-4">
      <button data-test-appended class="btn btn-outline-info btn-block" {{action "remove"}}>Appended to previous item/s, click to remove.</button>
    </form>
  {{else }}
    <div class="pt-4">
      {{search-bar model=nodes data-test-search-bar=true viewNode=(action 'viewNode')}}
    </div>
    <form>
      <button class="btn btn-outline-primary btn-block" {{action "append"}}>Append to previous tag.</button>
      {{#if currentCell.cell.tag }}
        <button class="btn btn-outline-danger btn-block" {{action "remove"}}>Remove current tag.</button>
      {{else}}
        <button class="btn btn-outline-secondary btn-block" {{action "autoTagCell"}}>Auto tag cell.</button>
      {{/if}}
    </form>
  {{/if}}
{{else}}
  <p>No data selected.</p>
{{/if}}

