<div style="height:45vh;overflow:auto">
  <p class="list-group-item">{{model.name}}</p>
  {{#if model.parent}}
    {{#link-to 'dimension-node' model.parent data-test-dimension-parent=true class="list-group-item"}}
      <i class="fa fa-chevron-left fa-fw"></i> {{model.parent.name}}
    {{/link-to}}
  {{/if}}
  {{#each model.children as |child idx|}}
    <li class="list-group-item flex-row">
      <div class="d-flex justify-content-between" data-test-dimension-node={{idx}}>
        {{#if (eq child.shortArcrole "domain-member")}}
          <div class="p-2">
            <a href="#" class="btn btn-secondary btn-sm" {{action "addDimension" child}}><i class="fa fa-plus fa-fw"></i></a>
          </div>
        {{/if}}
        <div class="p-2">
          <span class="text-truncate">{{child.name}} {{#if (eq child.shortArcrole "hypercube-dimension")}}{{unless child.defaultDimension "(no default)"}}{{/if}}</span>
        </div>
        <div class="p-2">
          {{#link-to 'dimension-node' child class="text-right"}}<i class="fa fa-chevron-right fa-fw"></i>{{/link-to}}
        </div>
      </div>
    </li>
  {{/each}}
</div>