{{link-to model.name 'discoverable-taxonomy-set.role-type.presentation-node.element' model.element.id data-test-element-properties=true}}

{{#if model.parent}} 
  {{#link-to 'discoverable-taxonomy-set.role-type.presentation-node' model.parent}}<i class="fa fa-arrow-up"></i>{{/link-to}}
{{else}}
    {{#link-to 'discoverable-taxonomy-set.role-type'}}<i class="fa fa-arrow-up"></i>{{/link-to}}
{{/if}}

{{#if (eq model.name currentCell.cell.tag)}}
  <span>Using <i class="fa fa-check"></i></span>
{{else if (not-eq model.element.abstract "true")}}
  <a class='btn btn-primary btn-outline' onclick={{action "updateTag"}}>Use</a>
{{/if}}

{{#if (eq model.element.abstract "true")}}
  <p>This label is for presentation only.</p>
{{else}}
  <p>This tag is for {{model.element.itemType}} data.</p>

  {{#if (eq model.element.periodType "duration")}}
    <p>This tag is for nominal accounts.</p>
  {{else}}
    <p>This tag for real accounts.</p>
  {{/if}}
  
  <div class="form-group">
    <select class="form-control" onchange={{action (mut currentCell.cell.period) value="target.value"}}>>
      <option value="none">none</option>
      {{#each currentCell.periods as |period|}}
        <option value={{period}} selected={{eq currentCell.cell.period period}}>{{period}}</option>
      {{/each}}
    </select>
  </div>
{{/if}}

<p>{{link-to 'Select dimensions for this tag' 'discoverable-taxonomy-set.role-type.presentation-node.element.dimension-nodes' model.element}}</p>

{{outlet}}