{{link-to model.name 'discoverable-taxonomy-set.role-type.presentation-node.element' model.element.id data-test-element-properties=true}}

{{#if model.parent}} 
  {{#link-to 'discoverable-taxonomy-set.role-type.presentation-node' model.parent}}<i class="fa fa-arrow-up"></i>{{/link-to}}
{{else}}
    {{#link-to 'discoverable-taxonomy-set.role-type'}}<i class="fa fa-arrow-up"></i>{{/link-to}}
{{/if}}

{{#if (eq model.element.abstract "true")}}
  <p>This label is for presentation only.</p>
{{else}}
  <p>This tag is for {{model.element.itemType}} data.</p>

  {{#if (eq model.element.periodType "duration")}}
    <p>This tag is suitable for nominal accounts and fact covering the duration of the current year.</p>
  {{else}}
    <p>This tag is suitable for real accounts i.e. opening and closing balances that will be carried forward after year end.</p>
  {{/if}}

  <form action="">
    <div class="from-group">
      <select class="form-control">
        {{#each currentCell.periods as |period|}}
          <option>{{period}}</option>
        {{/each}}
      </select>
    </div>
    <a class='btn btn-default btn-block' href="#">Apply tag</a>
  </form>
{{/if}}

<p>{{link-to 'Select dimensions for this tag' 'discoverable-taxonomy-set.role-type.presentation-node.element.dimension-nodes' model.element}}</p>

{{outlet}}